# Data files
/data/analysis_runs/**/*.tar.gz
/data/analysis_runs/**/*.h5
/data/plasticc/**/*.tar.gz
/data/plasticc/**/*.FITS
!/data/plasticc/alt_sched/LSST_WFD_alt_sched_MODEL11/*.FITS

# OS Files
*.DS_Store

# IDE files
.idea/

# Python build files
*__pycache__*
*.pyc
.eggs/
*.egg-info/
build/
dist/

# Testing cache files
.pytest_cache/
.coverage

# Built Docs
docs/build

# Jupyter Notebook Checkpoints
*.ipynb_checkpoints/

# Rendered figures
*.pdf
