# Data files
tests/test_data
notebooks/cerro_tololo.ecsv
data/plasticc/*/
data/joblib
results/

# OS Files
*.DS_Store

# IDE files
.idea/

# Python build files
*__pycache__*
*.pyc
.eggs/
*.egg-info/
build/
dist/

# Testing cache files
.pytest_cache/
.coverage

# Built Docs
docs/build

# Jupyter Notebook Checkpoints
*.ipynb_checkpoints/

# Rendered figures
*.pdf

docs/build