#right-column {
    max-width: 1200px;
    padding-top: 1px;
}

a.text-logo {
    color: white;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

div.section {
    padding-bottom: 10px
}

.mi {
    color: unset;
}

.mo {
    color: unset;
}

.mfrac {
    color: unset;
}

dl {
    margin-bottom: 40px;
}

div.sidebar-block h2 {
    padding: 0;
}

div.sidebar-block p {
    border-bottom: none;
    font-size: 14px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    padding: 0 0 0 10px;
    font-weight: bold;
    color: #606060;
}

table.field-list {
    border: none;
}

div.highlight {
    overflow: hidden;
}

a.copybtn {
    margin-right: 5px
}

div.stderr a.copybtn {
    display: none;
}

#right-column {
    max-width: 1200px;
    padding-top: 1px;
}

a.text-logo {
    color: white;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

div.section {
    padding-bottom: 10px
}

.mi {
    color: unset;
}

.mo {
    color: unset;
}

.mfrac {
    color: unset;
}

dl {
    margin-bottom: 40px;
}

div.sidebar-block h2 {
    padding: 0;
}

div.sidebar-block p {
    border-bottom: none;
    font-size: 14px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    padding: 0 0 0 10px;
    font-weight: bold;
    color: #606060;
}

table.field-list {
    border: none;
}

div.highlight {
    overflow: hidden;
}

a.copybtn {
    margin-right: 5px
}

div.stderr a.copybtn {
    display: none;
}

div.nboutput a.copybtn {
    display: none;
}
